body {
    background-color: blanchedalmond;
    font-family:sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.catFactContainer {
    background-color: tan;
    border-radius: 10px;
    width: 40vw;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
}

.catFactDisplay {
text-align: center;
}


.newFact {
    margin-top: 100px;
    background-color: tan;
   position: absolute;
}